 <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>eCommerce App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        html, body, main {
            height: 100%;
        }
 
        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
 
        .large-product-card .card-body {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
  <head></head>
  <body style="padding: 0">
  <div th:replace="fragments :: navbar"></div>
 
  <main role="main">
      <div class="container">
          <form class="form-signin" th:action="@{/signin}" method="post">
              <h2 class="form-signin-heading" style="text-align: center">Please Sign In/Up</h2>
              <p>
                  <label for="username" class="sr-only">Username</label>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Username">
              </p>
              <p>
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password">
              </p>
              <div style="display: flex; justify-content: space-between">
                  <button class="btn btn-lg btn-primary" name="submit" value="in" type="submit" style="flex-grow: 0.95">Sign In</button>
                  <button class="btn btn-lg btn-success" name="submit" value="up" type="submit">Sign Up</button>
              </div>
          </form>
      </div>
  </main>
 
  <div th:replace="fragments :: footer"></div>
  </body>
  </html>

